<div class="d-flex justify-content-center align-items-center wrapper">
    <div class="text-center">
        <h3>CREATED BY</h3>
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <a href="https://linkedin.com/in/jonathan-mantello" target="_blank">Jonathan Mantello</a><br>
                <span>Backend</span>
            </div>
            <div class="text-center link">
                <a href="https://linkedin.com/in/troy-dunbar" target="_blank">Troy Dunbar</a><br>
                <span>Frontend</span>
            </div>
            <div class="text-center link">
                <a href="https://linkedin.com/in/timstumper" target="_blank">Tim Stumper</a><br>
                <span>Frontend</span>
            </div>
            
            <div class="text-center link">
                <a href="https://linkedin.com/in/pranav-v-886986163" target="_blank">Pranav Viswanathan</a><br>
                <span>Analyst</span>
            </div>
            
        </div>
    </div>
</div>