<div class="rounded shadow display-bubble" id="input">
    <p id="header">NET WORTH</p>
    <!-- <div class="d-flex wrapper">
        <div class="d-flex justify-content-center w-50" id="assets">
            <div class="wrapper">
                <p class="text-center title">ASSETS</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="cash">CASH</label>
                        <input type="number" class="form-control input-box" id="cash" value="{{data.cash}}" [(ngModel)]="data.cash">
                    </div>
                    <div class="form-group">
                        <label for="property">PROPERTY</label>
                        <input type="number" class="form-control input-box m-0" id="property" value="{{data.property}}" [(ngModel)]="data.property">
                    </div>  
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="investments">INVESTMENTS</label>
                        <input type="number" class="form-control input-box m-0" id="investments" value="{{data.investments}}" [(ngModel)]="data.investments">
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center w-50 wrapper" id="liabilities">
            <div class="wrapper">
                <p class="text-center title">LIABILITIES</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="mortgage">MORTGAGE</label>
                        <input type="number" class="form-control input-box" id="mortgage" value="{{data.mortgage}}" [(ngModel)]="data.mortgage">
                    </div>
                    <div class="form-group">
                        <label for="loans">LOANS</label>
                        <input type="number" class="form-control input-box m-0" id="loans" value="{{data.loans}}" [(ngModel)]="data.loans">
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="form-group">
                        <label for="debts">DEBTS</label>
                        <input type="number" class="form-control input-box m-0" id="debts" value="{{data.debts}}" [(ngModel)]="data.debts">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
